body {
  background-color: #333;
}
header {
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: 0 auto;
}
nav a {
  text-decoration: none;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
main {
  width: 60%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5vh auto;
}
main.gallery {
  padding: 5px;
  overflow: scroll;
}
.menu-image {
  width: 49%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
.menu-image:hover {
  outline: 1px solid white;
}
.menu-image:nth-child(1) {
  background-image: url("https://images.pexels.com/photos/12004890/pexels-photo-12004890.jpeg?cs=srgb&dl=pexels-ahmed-galal-12004890.jpg&fm=jpg");
}
.menu-image:nth-child(2) {
  background-image: url("https://media.istockphoto.com/id/495292220/photo/colorful-cute-toucan-tropical-bird-in-brazilian-amazon-blurred-background.jpg?s=612x612&w=0&k=20&c=UUgfaSISnRJOGQfmzsUQyWIo_RFWHe3JPBmO3K3E6LA=");
}
.search {
  display: flex;
  width: 25%;
  margin: 10px auto 0;
  padding: 20px;
  border-bottom: 1px solid white;
}
.search-icon {
  color: white;
  font-size: 2rem;
}
.search input {
  width: 80%;
  border: none;
  color: white;
  background-color: transparent;
}
.search input:focus {
  outline: none;
  font-size: 1.5rem;
}
::placeholder {
  color: white;
  text-align: center;
  font-style: italic;
}
.card {
  width: 200px;
  height: 250px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: white;
}
.card:hover {
  outline: 1px solid white;
}
.card img {
  width: 100%;
  height: 70%;
  background-size: cover;
  filter: grayscale(100%);
}
.card p {
  text-align: center;
  margin-bottom: 0;
}
.card-buttons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 10px auto 0;
}
.card-buttons * {
  cursor: default;
}
.reaction {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.thumbs-up, .thumbs-down {
  display: flex;
}
.material-symbols-outlined:hover {
  color: gray;
}
.close-btn {
  padding: 1px;
}
.close-btn:hover {
  background-color: #d9d9d9;
  color: white;
}
footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
}
footer small {
  text-align: center;
}