@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
}
body {
  background-color: #333;
  font-family: 'Roboto', sans-serif;
}
header {
  width: 100%;
}
header h1 {
  font-size: 3.5rem;
  font-weight: 100;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
nav a {
  text-decoration: none;
  font-weight: 100;
  /*font-family: 'Montserrat', sans-serif; */
  color: white;
}
nav a:hover {
  border-bottom: 2px solid white;
}
.home {
  width: 1250px;
  height: 60vh; 
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 10vh auto;
}

.carousel {
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  padding: 10px;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel img {
  width: 50%;
  padding: 10px;
  filter: grayscale(100%); 
  transition: transform 0.5s;
}
.carousel img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}
.ios-arrow-icon {
  color: white;
  padding: 10px;
}
.ios-arrow-icon:hover {
  background: rgba(255, 255, 255, 0.1);
}
main {
  width: 60%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5vh auto;
}
main.gallery {
  padding: 5px;
  overflow: scroll;
}
main.about {
  width: 60%;
  height: 60vh;
  display: flex;
  margin: 5vh auto;
  
}
.about-image {
  width: 50%;
  height: 100%;
  background-image: url("./images/me.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
.about-text {
  width: 50%;
  height: 100%;
  padding: 5%; 
  overflow: auto;
  color: white;
}
.backBtn {
  color: white;
  padding-bottom: 10px;
}
.backBtn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search {
  display: flex;
  width: 25%;
  margin: 10px auto 0;
  padding: 20px;
  border-bottom: 1px solid white;
}
.search-icon {
  color: white;
  font-size: 2rem;
}
.search input {
  width: 80%;
  border: none;
  color: white;
  background-color: transparent;
}
.search input:focus {
  outline: none;
  font-size: 1.5rem;
}
::placeholder {
  color: white;
  text-align: center;
  font-style: italic;
}
.card {
  width: 200px;
  height: 250px;
  margin: 10px 0;
  padding: 5px 5px 10px 5px;
  border-radius: 5px;
  background-color: white;
}
.card:hover {
  outline: 1px solid white;
}
.card img {
  width: 100%;
  height: 70%;
  background-size: cover;
  filter: grayscale(100%); 
}
.card p {
  text-align: center;
  margin-bottom: 0;
}
.card small {
  font-size: .6rem;
  margin: 5px 0 0 5px;
}
small.info {
  display: block;
  width: 90%;
  margin: 5px auto 0;
  overflow: hidden;
}
.card a {
  display: block;
  margin-top: 5px;
  text-decoration: none;
  text-align: center;
  color: inherit;
  font-family: inherit;
  font-size: .5rem;
}
.card a:hover {
  text-decoration: underline;
}
.card-buttons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 10px auto 0;
}
.card-buttons * {
  cursor: default;
}
.reaction {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.thumbs-up, .thumbs-down {
  display: flex;
}
.material-symbols-outlined {
  cursor: pointer;
}
.material-symbols-outlined:hover {
  color: gray;
}
.close-btn {
  padding: 1px;
}
.close-btn:hover {
  background-color: #373737;
  color: white;
}
h1.not-found {
  text-align: center;
  color: white;
  margin: 20vh auto 0;
}
footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
}
footer small {
  text-align: center;
}